<%= link_to 'Add a new To-Do', new_todo_path %>

<% if !@todos.empty? %>
  <h1>To-Do's</h1>

  <table>
    <tbody>
      <% @todos.each do |todo| %>
        <% if todo.user_id == current_user.id%>
          <tr>
            <td><strong><%= todo.name %></strong></td>
            <td><%= link_to 'Mark as Completed', complete_todo_path(todo), :method => :put %>
            <td><%= link_to 'Show', todo %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
            <td><%= link_to 'Remove', todo, method: :delete, data: { confirm: 'Are you sure you want to remove this item?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>

<% if !@completes.empty? %>
  <h1>Completed To-Do's</h1>

  <table>
    <tbody>
      <% @completes.each do |todo| %>
        <% if todo.user_id == current_user.id%>
          <tr>
            <td><strong><%= todo.name %></strong></td>
            <td><%= link_to 'Mark as Incompleted', uncomplete_todo_path(todo), :method => :put %>
            <td><%= link_to 'Show', todo %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
            <td><%= link_to 'Remove', todo, method: :delete, data: { confirm: 'Are you sure you want to remove this item?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>
